temp/
build/
out/
third_party/rocm/*/build/
third_party/rocm/*/install/
third_party/rocm/.cache/
vcpkg_installed/
CMakeUserPresets.json
.vs/
.cache/
.pytest_cache/
.ruff_cache/
*.user
*.suo
**/__pycache__/
*.py[cod]
compile_commands.json
*.a
*.bc
*.co
*.dll
*.dylib
*.exe
*.exp
*.hsaco
*.ilk
*.isa
*.lib
*.ll
*.map
*.o
*.obj
*.pdb
*.so
*.spv
